/*見出しにアンダーラインを付加する。見出しごとにアンダーラインの太さを変える*/
h1 {
  border-bottom: solid 2.5px;
}

h2 {
  border-bottom: solid 2.0px;
}

h3 {
  border-bottom: solid 1.5px;
  font-weight: bold;
}

h4 {
  border-bottom: solid 1.0px;     
}

/*太字をブルーのラインマーカー風にする*/
strong {
  background: linear-gradient(transparent 70%, #a7d6ff 60%)
}

/*太字をグリーンのラインマーカー風にする
strong {
  background: linear-gradient(transparent 70%, #66FFCC 60%);
}
*/